# folder content
log/*
qmd/*
src/*
tmp/*
vid/*

# keep empty dir
!log/.gitkeep
!src/.gitkeep
!tmp/.gitkeep

# Common ignores
*.swp
*.log
*.tmp
*.bak
__pycache__/
.ipynb_checkpoints/
.DS_Store
#tmp/
#!tmp/
!tmp/readme.md
web/.quarto/
web/_site/
